<div
    fxFill
    fxLayout="column wrap"
    fxLayoutAlign="start stretch"
    class="philosophy-container">

    <div
        fxFlex
        class="background-philosophy">
    </div>
    
    <div
        fxFlex="40"
        fxLayout="column wrap"
        fxLayoutAlign="space-between stretch"
        class="philosophy-title-container">

        <h1 fxFlex="40">
            “ACREDITAMOS QUE CADA CASO TEM SUAS PARTICULARIDADES, POR ISSO PRECISA SER ANALIZADO ARTESANALMENTE.”
        </h1>

        <h1 fxFlex="20">
            RODRIGUES & FRANCESCHINI
        </h1>
    </div>
</div>