<form [formGroup]="singInForm" novalidate (ngSubmit)="onSubmit()"
  class="sing-in-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header 
      style="margin-bottom: 16px;">
      <mat-card-title>Entrar</mat-card-title>
    </mat-card-header>

    <mat-card-content fxLayout="row wrap" fxLayoutAlign="end center">
      <mat-form-field fxFlex="100">
        <input matInput placeholder="E-mail" formControlName="email">
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <input matInput placeholder="Password" formControlName="password"
          [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide= !hide">{{hide ? 'visibility_off' :
          'visibility'}}</mat-icon>
      </mat-form-field>
    
      <span
        fxFlex
        dir="rtl"
        class="recover-password-link">
        <a (click)="onRecoverPassword()">Esqueci minha senha</a>
      </span>
    
    </mat-card-content>
    
    <button 
      mat-raised-button
      class="btn-block"
      style="background-color: #005683; color: #d0d3d4;">
      Entrar
    </button>
    
    <button 
      mat-raised-button 
      (click)="onClick()"
      style="margin-top: 16px; background-color: #d0d3d4; color: #212322;"
      class="btn-block">
      Cadastrar
    </button>
  </mat-card>
</form>