<form
  novalidate
  [formGroup]="form"
  fxLayout="column wrap"
  fxLayoutAlign="center stretch"
  fxFill>

  <mat-card-content
    fxFill
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-around start">

    <div 
      fxFill
      fxLayout="column wrap"
      fxLayoutAlign="start stretch"
      fxFlexAlign="stretch">

      <div 
        fxLayout="row"
        fxFlexAlign="stretch"
        fxLayoutAlign="start center"
        fxLayoutGap="16px">

        <mat-form-field 
          fxFlex="40" 
          fxFlex.lt-md="70">
          
          <input matInput placeholder="Título" formControlName="title">
          
          <mat-error *ngIf="formControls.title.hasError('required')">
            <strong>Título é obrigatório</strong>
          </mat-error>
        </mat-form-field>
        
        <mat-checkbox 
          fxFlex 
          class="mat-checkbox" 
          placeholder="active"
          formControlName="active">Ativo
        </mat-checkbox>
      </div>

      <quill-editor
        fxFlexAlign="stretch"
        formControlName="description">
      </quill-editor>
    </div>
  </mat-card-content>

  <app-footer-form-actions 
    (submitClick)="onClickSubmit()"
    (cancelClick)="onClickCancel()">
  </app-footer-form-actions>
</form>