<mat-card-actions
    style="margin: 16px 0px 16px 0px;"
    fxFlex="grow"
    fxLayoutGap="16px"
    dir="rtl"
    [ngStyle]="{'margin-right.px': marginRight}">
    <button
        style="background-color: #d0d3d4; color: #212322;"
        *ngIf="showSubmitButton"
        mat-raised-button type="button"
        (click)="this.submitClick.emit()">Salvar
    </button>
    <button
        style="background-color: #005683; color: #d0d3d4;"
        *ngIf="showCancelButton"
        mat-raised-button
        type="button"
        (click)="this.cancelClick.emit()">Cancelar</button>
</mat-card-actions>