<div
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxFlex>

  <div
    *ngIf="article"
    class="picture-container"
    fxFlex="500px"
    fxLayout="column wrap"
    fxLayoutAlign="start stretch"
    style="margin-bottom: 32px !important;">

    <img 
      fxFill
      style="object-fit: cover"
      [src]="[article.articleImage]">

  </div>

  <div 
    fxFlex="60"
    fxLayout="column"
    fxLayoutAlign="start stretch"
    fxFlexAlign="stretch">

    <div 
      fxFlex
      fxLayout="column"
      fxFlexAlign="stretch"
      fxLayoutAlign="start stretch"
      fxLayoutGap="16px">

      <h1 
        fxLayoutAlign="start stretch">
        {{article?.articleTitle}}
      </h1>
      <h4
        fxLayoutAlign="start stretch">
        {{article?.lawyerFirstName}} {{article?.lawyerLastName}} • {{article?.articleDate | date : 'mediumDate'}}
      </h4>
    </div>

    <div
      *ngFor="let content of contents"
      fxFlex>

      <h2>
        {{content?.subTitle}}
      </h2>

      <p  
        [innerHtml]="content?.description">
      </p>
  </div>
  </div>

</div>