:host {
    width: 100%;
    height: auto;
}

.card-container {
    h2 {
        font-weight: 100;
        font-style: oblique;
        font-size: 30px;
        text-align: center;
    }

    #losango {
        position: absolute;
        width: 100px;
        height: 100px;
        border: #ffffff solid 2px;
        opacity: 0.25;
        transform: rotate(-45deg);
    }
}
