<div
  class="content"
  fxLayout="row wrap">
  <app-card
    *ngFor="let article of articles"
    style="margin:16px 16px 16px 0px;"
    fxFlex="30%" fxFlex.xs="100%"
    fxFlex.sm="33%"
    [title]="[article.title]"
    [subtitle]="article.lawyer.firstName + ' ' + article.lawyer.lastName"
    [content]="article.description"
    [cardImages]="[article.image]"
    (clickDeleteButton)="onDelete(article.id)"
    (dblclick)="onDblClick(article.id)">
  </app-card>
</div>

<a routerLink="./article">
  <button
    style="background-color: #005683; color: #d0d3d4;"
    mat-fab
    class="fab-add"
    fxLayoutAlign="center">
    <mat-icon>add</mat-icon>
  </button>
</a>