<mat-tab-group 
  fxFill
  mat-align-tabs="start">
  
  <mat-tab 
    label="Dados Gerais">
    <app-lawyer-form 
      fxFill>
    </app-lawyer-form>
  </mat-tab>
  
  <mat-tab 
    *ngIf="lawyerId" 
    label="Curriculum">
    <app-resumes-cards 
      fxFill
      [lawyerId]="lawyerId">
    </app-resumes-cards>
  </mat-tab>

  <mat-tab 
    *ngIf="lawyerId" 
    label="Escolaridade">
    <app-schooling-cards
      fxFill
      [lawyerId]="lawyerId">
    </app-schooling-cards>
  </mat-tab>

</mat-tab-group>