.container {
    width: 100%;
    min-height: 100%;
    height: auto;
    padding: 0px;
}

.evidences-container {
    background-color: #d0d3d4;
    padding: 0 6%;
    color: #212322;

    h1 {
        font-family: "Julius Sans One", sans-serif;
        font-style: normal;
        font-size: 15.0vh;
        text-align: center;
        margin: 4%;
    }

    h4 {
        font-size: 4.0vh;
        text-align: center;
        margin: 0px;
    }

    .evidences-cards {
        text-align: center;
        min-height: 200px;
        justify-content: center;
        align-items: center;
    }
}

.expertises-container {
    background-color: #212322;
    color: #d0d3d4;
    padding: 6vh 4vw;
    height: auto;

    h1 {
        font-family: "Julius Sans One", sans-serif;
        font-style: normal;
        font-size: 6.0vh;
        text-align: center;
        line-height: 1.3;
    }
}
