<div
    fxLayout="column wrap"
    fxLayoutAlign="start stretch"
    class="container">

    <div
        class="evidences-container"
        fxFlex.gt-xs="30"
        fxFlex="grow"
        fxLayout.gt-xs="row wrap"
        fxLayout="column wrap"
        fxLayoutAlign.gt-xs="space-evenly center"
        fxLayoutAlign="start stretch">

        <div
            fxFlex.gt-xs="25"
            fxFlex="grow"
            fxLayout="column wrap"
            fxLayoutAlign="center center"
            class="evidences-cards">
            <h1
                [ngStyle.gt-xs]="{'font-size': '4.0vw'}"
                FxFlex="40">
                +50
            </h1>
            <h4
                [ngStyle.gt-xs]="{'font-size': '2.0vw'}"
                FxFlex="40">
                Anos de experiência
            </h4>
        </div>

        <div
            fxFlex.gt-xs="25"
            fxFlex="grow"
            fxLayout="column wrap"
            fxLayoutAlign="center center"
            class="evidences-cards">
            <h1
                [ngStyle.gt-xs]="{'font-size': '4.0vw'}"
                FxFlex="40">
                +50
            </h1>
            <h4
                [ngStyle.gt-xs]="{'font-size': '2.0vw'}"
                FxFlex="40">
                Clientes
            </h4>
        </div>

        <div
            fxFlex.gt-xs="25"
            fxFlex="grow"
            fxLayout="column wrap"
            fxLayoutAlign="center center"
            class="evidences-cards">
            <h1
                [ngStyle.gt-xs]="{'font-size': '4.0vw'}"
                FxFlex="40">
                +100
            </h1>
            <h4
                [ngStyle.gt-xs]="{'font-size': '2.0vw'}"
                FxFlex="40">
                Processos vencidos
            </h4>
        </div>

        <div
            fxFlex.gt-xs="25"
            fxFlex="grow"
            fxLayout="column wrap"
            fxLayoutAlign="center center"
            class="evidences-cards">
            <h1
                [ngStyle.gt-xs]="{'font-size': '4.0vw'}"
                FxFlex="40">
                +200
            </h1>
            <h4
                [ngStyle.gt-xs]="{'font-size': '2.0vw'}"
                FxFlex="40">
                Premiações da equipe
            </h4>
        </div>
    </div>

    <div
        class="expertises-container"
        fxFlex.gt-xs="auto"
        fxFlex="grow"
        fxLayout="column wrap"
        fxLayoutAlign="start stretch"
        [ngStyle.gt-xs]="{'padding': '4% 6%'}">

        <h1
            [ngStyle.gt-xs]="{'font-size': '4.0vw'}"
            fxFlex="20">
            NOSSA EXPERTISE
        </h1>

        <div
            fxFlex.gt-xs="auto"
            fxFlex="grow"
            fxLayout="row wrap"
            fxLayoutAlign="space-evenly center">
            <app-expertise-card
                *ngFor="let expertise of expertisesList"
                fxFlex.gt-xs="25"
                fxFlex="50"
                fxLayout="row wrap"
                style="height: 25%;"
                [expertise]="expertise">
            </app-expertise-card>
        </div>
    </div>
</div>