<div
    fxLayout="column wrap"
    fxLayoutAlign="start stretch"
    class="container">

    <div
        class="expertises-container"
        fxFlex.gt-xs="auto"
        fxFlex="grow"
        fxLayout="column wrap"
        fxLayoutAlign="start stretch"
        [ngStyle.gt-xs]="{'padding': '4% 6%'}">

        <h1
            [ngStyle.gt-xs]="{'font-size': '4.0vw'}"
            fxFlex="20">
            NOSSA EXPERTISE
        </h1>

        <div
            fxFlex.gt-xs="auto"
            fxFlex="grow"
            fxLayout="row wrap"
            fxLayoutAlign="space-evenly center">
            <app-expertise-card
                *ngFor="let expertise of expertisesList"
                fxFlex.gt-xs="25"
                fxFlex="50"
                fxLayout="row wrap"
                style="height: 25%;"
                [expertise]="expertise">
            </app-expertise-card>
        </div>
    </div>
</div>