.our-story-container  {
    background-color: #212322;
}

.our-story-title-container {
    padding: 6vh 4vw;
    color: #d0d3d4;

    h1 {
        font-family: "Julius Sans One", sans-serif;
        font-weight: 100;
        font-size: 7.0vw;
        text-align: center;
    }
}