.our-story-container  {
    color: #d0d3d4;
    background-color: #212322;

    p {
        width: 80%;
        font-size: 3.0vh;
        font-weight: 100;
        text-align: left;
        line-height: 1.8
    }
}

.our-story-title-container {
    padding: 6vh 4vw;

    h1 {
        font-family: "Julius Sans One", sans-serif;
        font-weight: 100;
        font-size: 6.0vh;
        text-align: center;
    }
}