<div 
    fxLayout="row wrap" 
    fxLayoutGap="16px" 
    fxLayoutAlign="start center"
    style="padding: 0px 16px 0px 16px;">
    
    <button 
        type="button" 
        mat-icon-button 
        (click)="onClick($event)">
        <mat-icon>add</mat-icon>
    </button>
    
    <mat-select 
        fxFlex="80" 
        [(value)]="selectedId"
        (selectionChange)="valueChange($event)" 
        [placeholder]="title"
        mat-form-field>
        <mat-option></mat-option>
        <mat-option *ngFor="let selectItem of selectList"
            [value]="selectItem.id">
            {{selectItem?.name}}
        </mat-option>
    </mat-select>
</div>