<form
  novalidate
  [formGroup]="form"
  fxLayout="row"
  fxLayoutAlign="center stretch"
  fxFill>

  <div
    fxLayout="column"
    fxFill
    fxFlex="auto"
    class="sheet
    mat-elevation-z4">
    
    <mat-card-header>
      <mat-card-title>{{formControls.title.value}}</mat-card-title>
      <!--mat-card-subtitle>{{{{formControls.lawyer.firstName.value}} {{formControls.lawyer.lastName.value}}}}</mat-card-subtitle-->
    </mat-card-header>

    <mat-card-content
      fxFlex="auto"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="space-around start">

      <mat-card
        class="picture-container"
        fxFlex="30"
        fxFlex.lt-md="40"
        fxShow.gt-sm
        fxHide.lt-md>

        <app-uplaod-image
          style="height: 300px;"
          fxShow.gt-sm fxHide.lt-md
          #uploadImage></app-uplaod-image>

      </mat-card>

      <div 
        fxFlex="60"
        fxLayout="column wrap"
        fxLayoutAlign="start stretch"
        fxFlexAlign="stretch">

        <div 
          fxLayout="row"
          fxFlexAlign="stretch"
          fxLayoutAlign="start center"
          fxLayoutGap="16px">

          <mat-form-field 
            fxFlex="40" 
            fxFlex.lt-md="70">
            
            <input matInput placeholder="Título" formControlName="title">
            
            <mat-error *ngIf="formControls.title.hasError('required')">
              <strong>Título obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-select 
            [(value)]="lawyerIdSelected" 
            (selectionChange)="onLawyerSelectionChange($event)" 
            placeholder="Advogados" 
            mat-form-field>
            <mat-option></mat-option>
            <mat-option *ngFor="let lawyer of lawyers" [value]="lawyer.id">
                <img fxFlex="nogrow" fxFlexAlign="center" mat-card-avatar [src]="lawyer.image">
                <span fxFlex="grow" fxFlexOffset="16px">{{lawyer?.firstName lawyer?.lastName}}</span>
            </mat-option>
          </mat-select>

          <mat-checkbox 
            fxFlex 
            class="mat-checkbox" 
            placeholder="active"
            formControlName="active">Ativo
          </mat-checkbox>

          <mat-form-field appearance="fill">
            <mat-label>Data do artigo</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [(value)]="formControls.date"></mat-datepicker>
          </mat-form-field>
        </div>

        <quill-editor
          fxFlexAlign="stretch"
          formControlName="description">
        </quill-editor>
      </div>
    </mat-card-content>

    <app-footer-form-actions (submitClick)="onClickSubmit()"
      (cancelClick)="onClickCancel()">
    </app-footer-form-actions>
  </div>
</form>