<div
  fxFill
  fxLayout="column wrap" 
  fxLayoutAlign="start start">

  <mat-list 
    fxFill
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    fxFlexAlign="stretch"
    class="list-container"
    *ngFor="let content of contents">

    <div
        fxFill
        fxLayout="row wrap"
        fxLayoutAlign="start center"
        class="list-item">  
        <div
            fxFlex
            fxFlexAlign="stretch">
            <h1 style="font-weight: 500; color: #212322; margin: 0px !important;">{{content?.subTitle}}</h1>
            <p 
                style="font-weight: 400; color: #212322; opacity: 0.7"
                [innerHTML]="content?.description">
            </p>
        </div>
    </div>
    
    <button
      mat-button
      style="background-color: #d0d3d4; color: #005683; margin: 16px 0px 0px 16px;"
      (click)="onDelete(content.id)">
      Remover conteúdo
    </button>

    <button
      mat-button
      style="background-color: #005683; color: #d0d3d4; margin: 16px 0px 0px 16px;"
      (click)="onEdit(content.id)">
      Editar conteúdo
    </button>
  
  </mat-list>

  <button
    fxFlex
    fxFlexAlign="end" 
    mat-button
    style="background-color: #005683; color: #d0d3d4; margin: 16px 0px 0px 16px;"
    (click)="onAdd()">
    Adicionar conteúdo
  </button>
</div>