<div
  fxFill
  fxLayout="column wrap" 
  fxLayoutAlign="start stretch">

  <mat-list 
    fxFill
    fxLayout="column wrap"
    fxLayoutAlign="center stretch"
    fxFlexAlign="stretch"
    class="list-container"
    *ngFor="let content of contents">

    <div
        fxFlex="200px"
        fxLayout="row wrap"
        fxLayoutAlign="start center"
        class="list-item">  
        <div
            fxFlex
            fxFlexAlign="stretch">
            <h1 style="font-weight: 500; color: #212322; margin: 0px !important;">{{content?.subTitle}}</h1>
            <p 
                style="font-weight: 400; color: #212322; opacity: 0.7"
                [innerHTML]="content?.description">
            </p>
        </div>
    </div>
  </mat-list>

  <button
    mat-button
    style="background-color: #d0d3d4; color: #005683; margin: 16px 0px 0px 16px;"
    (click)="onAdd()">
    Adicionar conteúdo
  </button>
</div>