<mat-list 
    fxFlex="auto"
    fxLayout="column wrap"
    fxLayoutAlign="center stretch"
    fxFlexAlign="stretch"
    class="list-container"
    *ngFor="let article of articles">

    <div
        fxFlex="200px"
        fxLayout="row wrap"
        fxLayoutAlign="start center"
        class="list-item">  
        <img 
            fxFlex="250px"
            mat-card-image 
            style="margin-right: 16px;"
            [src]="article ? article.articleImage : 'assets/images/no-image.jpg'">
        <div
            fxFlex
            fxFlexAlign="stretch">
            <h1 style="font-weight: 500; color: #212322; margin: 0px !important;">{{article.articleTitle}}</h1>
            <h4 style="font-weight: 500; color: #212322; opacity: 0.7">{{article.lawyerFirstName}} {{article.lawyerLastName}} • {{article.articleDate | date : 'mediumDate'}}</h4>
            <p 
                style="font-weight: 400; color: #212322; opacity: 0.7"
                [innerHTML]="article.articleDescription">

            </p>
        </div>
    </div>

    <mat-divider 
        fxFlex>
    </mat-divider>
</mat-list>

<mat-paginator 
    fxFlex="60px"
    fxFlexAlign="end"
    fxFlexAlign="stretch"
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = $event"
    aria-label="Select page">
</mat-paginator>