<div
    fxLayout="column wrap"
    fxLayoutAlign="center center"
    class="card-container">

    <mat-list 
        *ngFor="let article of articles">
        <mat-list-item
            fxLayout="row wrap"
            fxLayoutAlign="start center">  
            <img 
                fxFlex="30"
                mat-card-image 
                [src]="article ? article.articleImage : 'assets/images/no-image.jpg'">
            <div
                fxFlex>
                <h3>{{article.title}}</h3>
            </div>
        </mat-list-item>

        <mat-divider></mat-divider>
    </mat-list>
    
</div>