<mat-divider></mat-divider>
<div
    fxFill
    fxLayout="column wrap"
    fxLayoutAlign="start stretch"
    class="call-to-action-container">

    <div
        fxFlex="65"
        fxLayout="column wrap"
        fxLayoutAlign="space-between stretch"
        class="call-to-action-title-container"
        [ngStyle.gt-xs]="{'padding': '4% 6%'}">

        <h1 
            fxFlex="20"
            [ngStyle.gt-xs]="{'font-size': '4.0vw'}">
            O QUE OS NOSSOS CLIENTES DIZEM
        </h1>
    </div>

    <div
        fxFlex
        fxLayout="row wrap"
        fxLayoutAlign="center center"
        class="background-call-to-action">

        <mat-card
            appElevationEffect
            class="call-to-action-card"
            fxFlex="250px"
            fxFlex.gt-xs="400px">

            <h1>AGENDE UMA CONSULTORIA</h1>

        </mat-card>
    </div>
</div>