.call-to-action-container  {
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

.call-to-action-title-container {
    padding: 6vh 4vw;
    color: #212322;
    width: 100%;
    height: auto;

    h1 {
        font-family: "Julius Sans One", sans-serif;
        font-weight: 100;
        font-size: 6vh;
        text-align: center;
        line-height: 1.3;
    }
}

.background-call-to-action {
    background-image: url(/assets/images/background-call-to-action.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}

.call-to-action-card {
    padding: 16px;
    background-color: #212322;
    color: #d0d3d4;
    text-align: center;
    border-radius: 0px;
    box-shadow: #212322;
    transition: width 0.3s ease 0s, height 0.3s ease 0s,
    top 0.3s ease 0s;

    h1 {
        font-family: "Julius Sans One", sans-serif;
        font-weight: 100;
        opacity: 0.8;
    }

    &:hover {
        cursor: pointer;
        
        h1 {
            opacity: 1.0;
            font-weight: 600;
        }
    }

    &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        background: #d0d3d4;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0px;
    }

    &:hover:after {
        width: 100%;
        left: 0;
    }
}