<div
    fxFill
    class="resume-tem-list"
    fxLayout="column" 
    fxLayoutAlign="start stretch">

    <div 
      fxFlex="30"
      fxLayout="row wrap" 
      fxLayoutAlign="start stretch"
      style='padding: 16px; word-break: break-all; word-wrap: break-word;'>
      <p fxFill [innerHTML]="resume.description">
      </p>
    </div>

    <mat-accordion fxFlex="auto" multi>
      <mat-expansion-panel 
          *ngFor="let resumeItem of resumeItems"
          expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title style="font-weight: 500; color: #212322">
              {{resumeItem.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p [innerHTML]="resumeItem.description"></p>
        </mat-expansion-panel>
    </mat-accordion>
</div>