::ng-deep .mat-expansion-panel {
    border-radius: 0px !important;
    color: #212322;
}

::ng-deep .mat-expansion-panel-spacing {
    margin: 0px !important;
}

::ng-deep .mat-accordion .mat-expansion-panel {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important; 
}

.resume-item-list-container {
    width: 100%;
    height: 100%;
}

p {
    font-family: 'Libre Franklin', sans-serif;
}
