<div
    fxFill
    class="resume-tem-list"
    fxLayout="row wrap"
    fxLayoutAlign="space-evenly stretch">

    <mat-accordion fxFill multi>
        <mat-expansion-panel 
          *ngFor="let resumeItem of resumeItems"
          expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title style="font-weight: 500; color: #212322">
              {{resumeItem.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{resumeItem.description}}</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>