.resume-container {
    width: 100%;
    height: 100%;

    .resume-card {
        font-family: "Julius Sans One", sans-serif;
        background-image: url(/assets/images/background-card.jpg);
        background-color: #212322;
        background-size: cover;
        color: #d0d3d4;
        border-radius: 0px;
        max-width: 400px;
    }
}

img {
    max-height: 350px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    object-fit: cover;
    object-position: top center;
}

p {
    font-weight: 500;
    font-family: 'Libre Franklin', sans-serif;
}
