.resume-container {
    width: 100%;
    height: 100%;

    h1 {
        text-align: center;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 600;
        font-size: 25px;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transform-origin: center top;
    }

    .mat-card-content {
        max-width: 100%;
        text-align: center;
        text-justify: auto;
    }
}

.resume-image {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
}
