<div
    fxFlex="100"
    fxFlex.gt-xs="50"
    [ngStyle.gt-xs]="{'margin-left': '25%'}"
    class="resume-container"
    fxLayout="column"
    fxLayoutAlign="start stretch">
    <mat-card 
        fxFlex="auto"
        fxLayout="column wrap"
        fxLayoutAlign="start stretch"
        class="mat-elevation-z0 resume-card">
        <mat-card-header fxFlex="58px">
          <div mat-card-avatar 
            [ngStyle]="{'background-image': 'url(' + lawyer?.image + ')', 'background-size': 'cover'}">
          </div>
          <mat-card-title>{{[lawyer?.firstName + ' ' + lawyer?.lastName]}}</mat-card-title>
          <mat-card-subtitle style="font-family: 'Libre Franklin', sans-serif; color: #d0d3d4;">{{lawyer?.oab}}</mat-card-subtitle>
          <button 
            mat-icon-button 
            style="color: #d0d3d4; right: 16px; position: absolute;"
            (click)="onClose()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card-header>
        <img
          fxFlex="540px"
          mat-card-image
          src="{{lawyer?.image}}">
        <mat-card-content 
          fxFlex="auto"
          [ngStyle.gt-xs]="{'font-size': '1vw'}">
          <p>
            <b [innerHTML]="lawyer?.description"></b>
          </p>
          <p>
            <b>Especializações:</b>
            {{lawyer?.specializations}}
          </p>
          <p> 
            <b>Idiomas:</b> 
            {{lawyer?.languages}}
          </p>
        </mat-card-content>
    </mat-card>
    <div
        fxFlex="auto"
        fxLayout="row wrap"
        fxLayoutAlign="start start">

        <mat-list role="list" fxFlex="auto">
          <mat-list-item 
            fxFill
            role="listitem"  
            *ngFor="let resume of resumes">
            <app-resume-item-list
                [resume]="resume">
            </app-resume-item-list>
          </mat-list-item>
        </mat-list>
    </div>
</div>