.blog {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    position: absolute;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

mat-nav-list.list-blog {
    padding: 2% 6% 0% 0%;

    .mat-list-item {
        color: #005683;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 100;
        text-align: center;
        justify-content: center;
        align-items: center;
        opacity: 0.8;
        font-weight: 700;
    }

    .mat-list-item:hover {
        opacity: 1;
        font-weight: 800;
    }

    .mat-list-item:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        background: #d0d3d4;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0px;
    }

    .mat-list-item:hover:after {
        width: 100%;
        left: 0;
    }
}

mat-nav-list.list-social-midia {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 6%;
    margin-right: 6%;

    .mat-list-item {
        color: #d0d3d4;
        text-align: center;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }
}

.mat-toolbar {
    position: fixed;
    background-color: #212322;
    color: #d0d3d4;
    z-index: 4;

    a {
        color: #d0d3d4;
        text-align: center;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }

    .mat-icon {
        color: #d0d3d4;
        text-align: center;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }
}

.mat-sidenav-container {
    width: 100%;
    height: 100%;
    background-color: rgba(#212322, 0.3);
    z-index: 2;

    .sidenav {
        position: fixed;
        width: 40%;
        height: 100%;
        background-color: #212322;
        padding-top: 56px;
        z-index: 3;

        .mat-list-item {
            color: #d0d3d4;
            text-align: center;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }

            div {
                .mat-list-item-content {
                    position: unset;
                }
            }
        }

        .mat-toolbar {
            background: inherit;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .mat-sidenav-content {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        .mat-toolbar.mat-primary {
            position: relative;
            top: 0;
            z-index: 1;
        }
    }

    ::ng-deep.mat-list-base .mat-list-item .mat-list-item-content {
        position: unset;
    }
}
