<div
  class="content"
  fxLayout="row" 
  fxLayoutAlign="start start">
  
  <app-card-without-image
    *ngFor="let resumeItem of resumeItems"
    style="margin:16px 16px 16px 0px;"
    fxFlex="380px" 
    fxFlex.xs="100%"
    fxFlex.sm="380px"
    [title]="resumeItem.title"
    [content]="resumeItem.description"
    (clickDeleteButton)="onDelete(resumeItem.id)"
    (dblclick)="onDblClick(resumeItem.id)">
  </app-card-without-image>
</div>

<button
  mat-button
  style="background-color: #d0d3d4; color: #005683;"
  (click)="onAdd()">
  Adicionar item
</button>