<div
  fxFill
  class="content"
  div fxLayout="row wrap" 
  fxLayoutAlign="space-around stretch">

  <app-card-without-image
    *ngFor="let resume of resumes"
    style="margin:16px 16px 16px 0px;"
    fxFlex="100%" 
    [title]="resume.title"
    [content]="resume.description"
    (clickDeleteButton)="onDelete(resume.id)"
    (click)="onSelect(resume)"
    (dblclick)="onEdit(resume.id)">
  </app-card-without-image>
    
  <button
    mat-button
    style="background-color: #d0d3d4; color: #005683;"
    fxLayoutAlign="center"
    (click)="onAdd()">
      Adicionar informações
  </button>
</div>
