<div
  class="content"
  fxLayout="row wrap" 
  fxLayoutAlign="start start">
  
  <app-card-without-image
    *ngFor="let school of schooling"
    style="margin:16px 16px 16px 0px;"
    fxFlex="380px" 
    fxFlex.xs="100%"
    fxFlex.sm="380px"
    [title]="school.title"
    [content]="school.description"
    (clickDeleteButton)="onDelete(school.id)"
    (dblclick)="onEdit(school.id)">
  </app-card-without-image>
</div>

<button
  mat-button
  style="background-color: #d0d3d4; color: #005683; margin: 16px 0px 0px 16px;"
  (click)="onAdd()">
  Adicionar Escolaridade
</button>