<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <app-card-avatar *ngFor="let user of users" 
    fxFlex="30%" 
    fxFlex.xs="100%"
    fxFlex.sm="33%" [title]="user.name"
    [firstSubtitle]="user.username" 
    [secondSubtitle]="user.email"
    [cardImage]="user.image" (clickDeleteButton)="onDelete(user.id)"
    (dblclick)="onDblClick(user.id)"></app-card-avatar>
</div>
<a routerLink="./user">
  <button 
    style="background-color: #005683; color: #d0d3d4;"
    class="fab-add" 
    mat-fab 
    fxLayoutAlign="center">
    <mat-icon>add</mat-icon>
  </button>
</a>