<div
    fxLayout="column wrap"
    fxLayoutAlign="center stretch"
    class="abour-us-container">

    <div
        fxFlex="40"
        fxLayout="column wrap"
        fxLayoutAlign="center center"
        class="about-us-title-container"
        [ngStyle.gt-xs]="{'padding': '4% 6%'}">

        <h1
            fxFlex="40"
            [ngStyle.gt-xs]="{'font-size': '4.0vw'}">
            SOBRE NÓS
        </h1>

        <p
            fxFlex="40"
            [ngStyle.gt-xs]="{'font-size': '1.5vw'}">
            Contamos com uma equipe altamente experiente em diversos âmbitos do
            Direito.
            Prestamos assessoria em todo o Brasil, Lisboa, Porto e Buenos Aires.
        </p>

    </div>

    <div
        fxFlex
        fxLayout="row wrap"
        fxLayoutAlign="center center"
        style="max-width: 100%; width: 100%;">

        <button
            type="button"
            mat-icon-button
            color="#ffffff"
            (click)="scrollToLeft()"
            [ngStyle]="{'position': 'absolute', 'left': '0px', 'z-index': '1'}"
            [ngStyle.gt-xs]="{'position': 'absolute', 'left': '16px', 'z-index': '1'}">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>

        <div
            #cardListContainer
            fxFlex.gt-xs="90"
            fxFlex="100"
            fxLayout="row"
            fxLayoutAlign.gt-xs="center center"
            fxLayoutAlign="start center"
            fxLayoutGap="16px"
            style="padding: 2% 1% 4% 3%;"
            class="card-list-container">

            <app-about-us-card
                fxFlex="300px"
                style="height: 330px;"
                *ngFor="let lawyer of lawyers;"
                [lawyerDto]="lawyer">
            </app-about-us-card>
        </div>

        <button
            type="button"
            mat-icon-button
            color="#ffffff"
            (click)="scrollToRigth()"
            [ngStyle]="{'position': 'absolute', 'right': '0px', 'z-index': '1'}"
            [ngStyle.gt-xs]="{'position': 'absolute', 'right': '16px', 'z-index': '1'}">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</div>