<app-menu
    fxFill
    (clickMenuItem)="scrollToElement($event)">
</app-menu>

<app-home
    #home
    id="home"
    fxFill>
</app-home>

<app-expertise
    #expertise
    id="expertise"
    fxFill>
</app-expertise>

<app-about-us
    #aboutUs
    id="aboutUs"
    fxFill>
</app-about-us>

<app-our-story
    #ourStory
    id="ourStory"
    fxFill></app-our-story>

<app-philosophy
    #philosophy
    fxFill></app-philosophy>

<app-call-to-action
    #callToAction
    id="callToAction"
    fxFill></app-call-to-action>

<app-footer
    #footer
    id="footer"
    fxFill></app-footer>