<div
    fxLayout="column wrap"
    fxLayoutAlign="start stretch"
    class="footer-container">

    <div
        fxFlex="70"
        fxLayout="column wrap"
        fxLayoutAlign="space-between stretch"
        class="footer-title-contact-us-container"
        [ngStyle.gt-xs]="{'padding': '4% 6%'}">

        <h1
            fxFlex="20"
            [ngStyle.gt-xs]="{'font-size': '4.0vw'}">
            ENTRE EM CONTATO
        </h1>

        <app-email-sender
            fxFlex="70">

        </app-email-sender>
    </div>

    <div
        fxFlex="30"
        class="background-footer"
        fxLayout="row wrap"
        fxLayoutAlign="center center">

        <div
            fxHide
            fxShow.gt-xs
            fxFlex.gt-xs="auto"
            class="icon-background"
            [ngStyle.gt-xs]="{'min-height': '250px'}">
        </div>

        <div
            fxFlex="98"
            fxFlex.gt-xs="60">
            <h4 [ngStyle.gt-xs]="{'font-size': '1.5vw', 'margin-top': '0%'}">(21)
                2253-3889</h4>
            <h4 [ngStyle.gt-xs]="{'font-size': '1.5vw', 'margin-top': '0%'}">(21)
                99768-4446</h4>
            <h4 [ngStyle.gt-xs]="{'font-size': '1.5vw', 'margin-top': '0%'}">Av.
                Presidente Vargas, 542 - gr. 1.405 - Centro</h4>
            <h4 [ngStyle.gt-xs]="{'font-size': '1.5vw', 'margin-top': '0%'}">Rio
                de Janeiro - RJ - CEP: 20071-003</h4>
            <h4 [ngStyle.gt-xs]="{'font-size': '1.5vw', 'margin-top': '0%'}">contato@rodriguesfranceschini.com</h4>
        </div>
    </div>
</div>