<div
    fxLayout="column wrap"
    fxLayoutAlign="start stretch"
    class="footer-container">

    <div
        fxFlex="70"
        fxLayout="column wrap"
        fxLayoutAlign="space-between stretch"
        class="footer-title-contact-us-container"
        [ngStyle.gt-xs]="{'padding': '4% 6%'}">

        <h1 
            fxFlex="20"
            [ngStyle.gt-xs]="{'font-size': '4.0vw'}">
            ENTRE EM CONTATO
        </h1>

        <app-email-sender 
            fxFlex="70">

        </app-email-sender>
    </div>

    <div
        fxFlex="30"
        class="background-footer">
    </div>
</div>