<mat-nav-list
    class="list-menu"
    role="list"
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutAlign="end space-between">

    <mat-list-item
        fxFlex="12"
        fxLayout="center center"
        role="listitem">
        <span style="position: relative; width: 100%; text-align: center;">
            SOBRE NÓS
        </span>
    </mat-list-item>

    <mat-list-item
        fxFlex="12"
        role="listitem">
        <span style="position: relative; width: 100%; text-align: center;">
            EXPERTISE
        </span>
    </mat-list-item>

    <mat-list-item
        fxFlex="12"
        role="listitem">
        <span style="position: relative; width: 100%; text-align: center;">
            CONTATO
        </span>
    </mat-list-item>
</mat-nav-list>


<mat-nav-list
    class="list-social-midia"
    role="list"
    fxFlex="100"
    fxLayout="column wrap"
    fxLayoutAlign="start space-between">

    <mat-list-item
        fxFlex="40px"
        role="listitem">

        <a mat-icon-button
            href="https://www.instagram.com/docephie"
            target="_blank">
            <i class="fa fa-instagram fa-lg"></i>
        </a>

    </mat-list-item>

    <mat-list-item
        fxFlex="40px"
        role="listitem">

        <a mat-icon-button href="https://www.facebook.com/Docephie"
            target="_blank">
            <i class="fa fa-linkedin fa-lg"></i>
        </a>

    </mat-list-item>

    <mat-list-item
        fxFlex="40px"
        role="listitem">

        <a mat-icon-button href="https://wa.me/5521992548090"
            target="_blank">
            <i class="fa fa-whatsapp fa-lg"></i>
        </a>
    </mat-list-item>
</mat-nav-list>