:host {
    width: 100%;
    height: auto;
    margin-top: 60px;
}

.card-container {
    h2 {
        font-weight: 400;
        font-size: 25px;
        font-style: oblique;
        text-align: center;
        z-index: 1;
        margin-bottom: 0px;
    }

    #losango {
        position: absolute;
        width: 55px;
        height: 55px;
        border: #005683 solid 2px;
        opacity: 0.5;
        transform: rotate(-45deg);
        z-index: 0;
    }
}

.card-container:hover {
    #losango {
        opacity: 1;
    }
}
