.about-us-card {
    background-image: url(/assets/images/background-card.png);
    background-color: #d0d3d4;
    background-size: cover;
    max-width: 300px;
    max-height: 320px;
    color: #d0d3d4;
    text-align: center;
    border-radius: 0px;
    box-shadow: #212322;
    border-bottom: rgba($color: #000000, $alpha: 0) solid 4px;
    transition: boerder 2s ease;

    h1 {
        font-family: "Julius Sans One", sans-serif;
        font-weight: 100;
        font-size: 30px;
    }

    &:hover {
        cursor: pointer;
        border-bottom: #005683 solid 4px;
    }

    &:hover:hover .slider {
        width: 100%;
    }
}

.about-us-image {
    width: 150px;
    height: 150px;
    background-image: url(/assets/images/vitor.jpg);
    background-size: cover;
    border-radius: 50%;
}
