<div
    fxFill
    fxLayout="column wrap"
    fxLayoutAlign="start stretch">

    <div
        class="evidences-container"
        fxFlex="30"
        fxLayout="row wrap"
        fxLayoutAlign="space-evenly center">

        <div
            style="height: 60%;"
            fxFlex="25"
            fxLayout="column wrap"
            fxLayoutAlign="start center">
            <h1 FxFlex="40">+50</h1>
            <h4 FxFlex="40">Anos de experiência</h4>
        </div>

        <div
            style="height: 60%;"
            fxFlex="25"
            fxLayout="column wrap"
            fxLayoutAlign="start center">
            <h1 FxFlex="40">+50</h1>
            <h4 FxFlex="40">Clientes</h4>
        </div>

        <div
            style="height: 60%;"
            fxFlex="25"
            fxLayout="column wrap"
            fxLayoutAlign="start center">
            <h1 FxFlex="40">+100</h1>
            <h4 FxFlex="40">Precessos vencidos</h4>
        </div>

        <div
            style="height: 60%;"
            fxFlex="25"
            fxLayout="column wrap"
            fxLayoutAlign="start center">
            <h1 FxFlex="40">+200</h1>
            <h4 FxFlex="40">Premiassões da equipe</h4>
        </div>
    </div>

    <div
        class="expertises-container"
        fxFlex
        fxLayout="column wrap"
        fxLayoutAlign="start stretch">

        <h1
            fxFlex="15">
            NOSSA EXPERTISE
        </h1>

        <div
            fxFlex
            fxLayout="row wrap"
            fxLayoutAlign="space-evenly start">
            <app-expertise-card
                *ngFor="let expertise of expertisesList"
                fxFlex="25"
                fxLayout="row wrap"
                [expertise]="expertise">
            </app-expertise-card>
        </div>
    </div>
</div>