.evidences-container {
    background-color: #d0d3d4;
    padding: 0 6%;

    h1 {
        font-family: "Julius Sans One", sans-serif;
        font-style: normal;
        font-size: 50px;
        text-align: center;
        margin: 16px;
    }

    h4 {
        text-align: center;
        margin: 0px;
    }
}

.expertises-container {
    background-color: #212322;
    color: #ffffff;
    padding: 0 6%;

    h1 {
        padding-top: 4%;
        padding-bottom: 4%;
        font-family: "Julius Sans One", sans-serif;
        font-style: normal;
        font-size: 40px;
        text-align: center;
    }
}
