<div
    fxFill
    fxLayout="column wrap"
    fxLayoutAlign="start stretch">

    <div
        class="evidences-container"
        fxFlex="40">
    </div>

    <div
        class="expertises-container"
        fxFlex
        fxLayout="column wrap"
        fxLayoutAlign="start stretch">

        <h1
            fxFlex="25">
            NOSSA EXPERTISE
        </h1>

        <div
            fxFlex
            fxLayout="row wrap"
            fxLayoutAlign="start center">
            <app-expertise-card 
                fxFlex="150px"
                fxLayout="row wrap">
            </app-expertise-card>
        </div>
    </div>
</div>