.evidences-container {
    background-color: #D0D3D4;
}

.expertises-container {
    background-color: #212322;
    color: #ffffff;
    padding: 0 6%;

    h1 {
        padding-top: 4%;
        padding-bottom: 4%;
        font-family: "Julius Sans One", sans-serif;
        font-style: normal;
        font-size: 40px;
        text-align: center;
    }
}