.evidences-container {
    background-color: #ababab;
}

.expertises-container {
    background-color: #212121;
    color: #ffffff;
    padding: 0 6%;

    h1 {
        padding-top: 4%;
        font-family: "Julius Sans One", sans-serif;
        font-style: normal;
        font-size: 40px;
        text-align: center;
    }
}