<div
    fxFill
    fxLayout="column wrap"
    fxLayoutAlign="start start">

    <div
        class="evidences-container"
        fxFlex="30">
    </div>

    <div
        class="expertises-container"
        fxFlex
        fxLayout="column wrap"
        fxLayoutAlign="start stretch">

        <h1
            fxFlex="15">
            NOSSA EXPERTISE
        </h1>

        <div
            fxFlex
            fxLayout="row wrap"
            fxLayoutAlign="space-evenly start">
            <app-expertise-card
                *ngFor="let expertise of expertisesList"
                fxFlex="25"
                fxLayout="row wrap"
                [expertise]="expertise">
            </app-expertise-card>
        </div>
    </div>
</div>