<div
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    class="menu">

    <mat-nav-list
        fxHide
        fxShow.gt-xs
        class="list-menu"
        role="list"
        fxFlex="100"
        fxLayout="row wrap"
        fxLayoutAlign="end center">

        <mat-list-item
            fxFlex="20"
            fxFlex.gt-sm="10"
            role="listitem"
            (click)="clickMenuItem.emit('#blog')">
            <span style="position: relative; width: 100%; text-align: center;">
                BLOG
            </span>
        </mat-list-item>

        <mat-list-item
            fxFlex="20"
            fxFlex.gt-sm="10"
            role="listitem"
            (click)="clickMenuItem.emit('#expertise')">
            <span style="position: relative; width: 100%; text-align: center;">
                EXPERTISE
            </span>
        </mat-list-item>

        <mat-list-item
            fxFlex="20"
            fxFlex.gt-sm="10"
            fxLayout="center center"
            role="listitem"
            (click)="clickMenuItem.emit('#aboutUs')">
            <span style="position: relative; width: 100%; text-align: center;">
                EQUIPE
            </span>
        </mat-list-item>

        <mat-list-item
            fxFlex="20"
            fxFlex.gt-sm="10"
            fxLayout="center center"
            role="listitem"
            (click)="clickMenuItem.emit('#ourStory')">
            <span style="position: relative; width: 100%; text-align: center;">
                HISTÓRIA
            </span>
        </mat-list-item>

        <mat-list-item
            fxFlex="20"
            fxFlex.gt-sm="10"
            fxLayout="center center"
            role="listitem"
            (click)="clickMenuItem.emit('#callToAction')">
            <span style="position: relative; width: 100%; text-align: center;">
                AGENDAR
            </span>
        </mat-list-item>

        <mat-list-item
            fxFlex="20"
            fxFlex.gt-sm="10"
            role="listitem"
            (click)="clickMenuItem.emit('#footer')">
            <span style="position: relative; width: 100%; text-align: center;">
                CONTATO
            </span>
        </mat-list-item>
    </mat-nav-list>


    <mat-nav-list
        fxHide
        fxShow.gt-xs
        class="list-social-midia"
        role="list"
        fxFlex="100"
        fxLayout="column wrap"
        fxLayoutAlign="start space-between">
    </mat-nav-list>

    <mat-toolbar
        fxHide.gt-xs
        fxShow
        fxFlex="100"
        fxLayout="row wrap"
        fxLayoutAlign="end center"
        class="list-social-midia mat-elevation-z4">

        <button
            mat-icon-button
            (click)="drawerOpened= !drawerOpened; drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span style="flex: 1 1 auto;"></span>

    </mat-toolbar>


    <mat-sidenav-container
        fxHide.gt-xs
        fxShow
        (backdropClick)="closeNavBar()"
        [ngStyle]="{'visible': drawerOpened, 'position': drawerOpened ? 'fixed'
        : 'unset'}">

        <mat-sidenav
            #drawer
            class="sidenav"
            fixedInViewport
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="'over'"
            [opened]="false"
            position="start">

            <mat-nav-list
                class="list-menu-nav-bar"
                role="list"
                fxFlex="100"
                fxLayout="column wrap"
                fxLayoutAlign="start stretch">

                <mat-list-item
                    fxFlex="10"
                    role="listitem"
                    fxLayout="row wrap"
                    fxLayoutAlign="start stretch"
                    (click)="clickMenuItem.emit('#home')">
                    <span
                        fxFlex="100"
                        style="text-align: center;">
                        HOME
                    </span>
                </mat-list-item>

                <mat-list-item
                    fxFlex="10"
                    role="listitem"
                    fxLayout="row wrap"
                    fxLayoutAlign="start stretch"
                    (click)="clickMenuItem.emit('#blog')">
                    <span
                        fxFlex="100"
                        style="text-align: center;">
                        BLOG
                    </span>
                </mat-list-item>

                <mat-list-item
                    fxFlex="10"
                    role="listitem"
                    fxLayout="row wrap"
                    fxLayoutAlign="start stretch"
                    (click)="clickMenuItem.emit('#expertise')">
                    <span
                        fxFlex="100"
                        style="text-align: center;">
                        EXPERTISE
                    </span>
                </mat-list-item>

                <mat-list-item
                    fxFlex="10"
                    role="listitem"
                    fxLayoutAlign="start stretch"
                    (click)="clickMenuItem.emit('#aboutUs')">
                    <span style="position: relative; width: 100%; text-align:
                        center;">
                        EQUIPE
                    </span>
                </mat-list-item>

                <mat-list-item
                    fxFlex="10"
                    role="listitem"
                    fxLayoutAlign="start stretch"
                    (click)="clickMenuItem.emit('#ourStory')">
                    <span style="position: relative; width: 100%; text-align:
                        center;">
                        HISTÓRIA
                    </span>
                </mat-list-item>

                <mat-list-item
                    fxFlex="10"
                    role="listitem"
                    fxLayoutAlign="start stretch"
                    (click)="clickMenuItem.emit('#callToAction')">
                    <span style="position: relative; width: 100%; text-align:
                        center;">
                        AGENDAR
                    </span>
                </mat-list-item>

                <mat-list-item
                    fxFlex="10"
                    role="listitem"
                    fxLayoutAlign="start stretch"
                    (click)="clickMenuItem.emit('#footer')">
                    <span
                        style="position: relative; width: 100%; text-align:
                        center;">
                        CONTATO
                    </span>
                </mat-list-item>
            </mat-nav-list>

        </mat-sidenav>

    </mat-sidenav-container>
</div>