<div
    fxLayout="column wrap"
    fxLayoutAlign="start stretch"
    class="philosophy-container">

    <div
        fxFlex
        class="background-philosophy"
        [ngStyle.gt-xs]="{'background-position': '-10% 10%'}">
    </div>
    
    <div
        fxFlex="40"
        fxLayout="column wrap"
        fxLayoutAlign="space-between stretch"
        class="philosophy-title-container"
        [ngStyle.gt-xs]="{'padding': '4% 6%'}">

        <h1 
            fxFlex="40"
            [ngStyle.gt-xs]="{'font-size': '2.0vw'}">
            “ACREDITAMOS QUE CADA CASO TEM SUAS PARTICULARIDADES, POR ISSO PRECISA SER ANALISADO ARTESANALMENTE.”
        </h1>

        <h1 
            fxFlex="20"
            [ngStyle.gt-xs]="{'font-size': '2.0vw'}">
            RODRIGUES & FRANCESCHINI
        </h1>
    </div>
</div>