<mat-card
    appElevationEffect
    class="about-us-card"
    fxFlex
    fxLayout="column wrap"
    fxLayoutAlign="space-evenly center"
    (click)="onClick()">

    <div
        fxFlex="150px"
        class="about-us-image"
        [ngStyle]="{'background-image': 'url(' + lawyer.image + ')', 'margin': '4px' }">
    </div>

    <mat-card-content
        fxFlex="auto">

        <h1>{{[lawyer.firstName + ' ' + lawyer.lastName]}}</h1>

        <p style="white-space: normal;">
            {{lawyer.specializations}}
        </p>
    </mat-card-content>
</mat-card>