<mat-sidenav-container class="sidenav-container" fxLayoutAlign="center start"
  fxLayout="column">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$
    | async) ? 'dialog' : 'navigation'"
    [mode]="'over'" [opened]="false">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item style="padding: 0 8px;" routerLinkActive="active current"
        (click)="onChangePageName('Deshboard')" routerLink="./">Dashboard</a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Registros de Produtos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active current"
            routerLink="./product-category-groups"
            (click)="onChangePageName('Lista de
            Grupos')">Grupos</a>
          <a mat-list-item routerLinkActive="active current"
            routerLink="./product-categories" (click)="onChangePageName('Lista
            de
            Categorias')">Categorias</a>
          <a mat-list-item routerLinkActive="active current"
            routerLink="./products" (click)="onChangePageName('Lista de
            Produtos')">Produtos</a>
          <a mat-list-item routerLinkActive="active current"
            routerLink="./product-properties" (click)="onChangePageName('Lista
            de Propriedades dos Produtos')">Propriedades</a>
          <a mat-list-item routerLinkActive="active current"
            routerLink="./packaging" (click)="onChangePageName('Lista
            de Embalagens')">Embalagens</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Gerenciamento de Estoques
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active current"
            routerLink="./stock-input-movement-actions"
            (click)="onChangePageName('Ações de Entrada no Estoque')">Ações de
            Entrada</a>
          <a mat-list-item routerLinkActive="active current"
            routerLink="./stock-output-movement-actions"
            (click)="onChangePageName('Ações de Saída do Estoque')">Ações de
            Saída</a>
          <a mat-list-item routerLinkActive="active current"
            routerLink="./stocks" (click)="onChangePageName('Lista de
            Estoques')">Estoques</a>
          <a mat-list-item routerLinkActive="active current"
            routerLink="./stock-item-categories"
            (click)="onChangePageName('Lista de Itens')">Itens</a>
          <a mat-list-item routerLinkActive="active current"
            routerLink="./stocks-items-list" (click)="onChangePageName('Lista de
            Itens
            por Esqoue')">Itens por Estoques</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Configurações
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a 
            mat-list-item 
            routerLinkActive="active current"
            routerLink="./users" 
            (click)="onChangePageName('Lista de Usuários')">
            Usuários
          </a>
        </mat-nav-list>

        <mat-nav-list>
          <a 
            mat-list-item 
            routerLinkActive="active current"
            routerLink="./shipping-ways" 
            (click)="onChangePageName('Lista de Formas de Envio')">
            Formas de Envio
          </a>
        </mat-nav-list>

      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column" fxFlexAlign="stretch">

    <mat-toolbar color="primary" fxFlexAlign="start center" fxFlex="10"
      fxLayout="row" fxLayoutGap="16px">
      <button fxFlexAlign="center center" type="button" aria-label="Toggle
        sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span fxFlex="70">Shop - {{pageName}}</span>

      <app-profile-tag
        fxFlex="22"
        [image]="user.image"
        [name]="user.username"
        [email]="user.email"
        (logoutClick)="onLogout()">
      </app-profile-tag>
    </mat-toolbar>

    <!-- Add Content Here -->

    <div fxFlex="90">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>