<mat-sidenav-container 
  class="sidenav-container"
  fxLayoutAlign="center start"
  fxLayout="column">
  
  <mat-sidenav 
    #drawer
    class="sidenav"
    fixedInViewport 
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'" 
    [opened]="false">
    
    <mat-toolbar></mat-toolbar>
    
    <mat-nav-list>
      <a 
        mat-list-item 
        style="padding: 0 8px;" 
        routerLinkActive="active current"
        (click)="onChangePageName('Deshboard')" 
        routerLink="./">Dashboard
      </a>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Cadastros
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a 
            mat-list-item 
            routerLinkActive="active current"
            routerLink="./lawyers" 
            (click)="onChangePageName('Lista de Advogados')">
            Advogados
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Blog
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a 
            mat-list-item 
            routerLinkActive="active current"
            routerLink="./articles" 
            (click)="onChangePageName('Lista de Artigos')">
            Artigos
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Configurações
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a 
            mat-list-item 
            routerLinkActive="active current"
            routerLink="./users" 
            (click)="onChangePageName('Lista de Usuários')">
            Usuários
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column" fxFlexAlign="stretch">

    <mat-toolbar 
      style="background-color: #005683; color: #d0d3d4;"
      fxFlexAlign="start center" 
      fxFlex="10"
      fxLayout="row" fxLayoutGap="16px">
      <button fxFlexAlign="center center" type="button" aria-label="Toggle
        sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span fxFlex="70">Franceschini Advogados Associados - {{pageName}}</span>

      <app-profile-tag
        fxFlex="22"
        [image]="user.image || 'assets/images/no-image.jpg'"
        [name]="user.username"
        [email]="user.email"
        (logoutClick)="onLogout()">
      </app-profile-tag>
    </mat-toolbar>

    <!-- Add Content Here -->

    <div fxFlex="90">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>