<div
    fxFill
    fxLayout="column wrap"
    fxLayoutAlign="start stretch">

    <div
        fxFlex="40"
        fxLayout="column wrap"
        fxLayoutAlign="center center"
        class="about-us-title-container">

        <h1 fxFlex="40">
            SOBRE NÓS
        </h1>

        <p fxFlex="40">
            Contamos com uma equipe altamente experiênte en diversos âmbitos do
            direito.<br>
            Prestamos acessoria em todo o Brasil, Lisboa, Porto e Buenos Aires.
        </p>

    </div>

    <div
        fxFlex
        fxLayout="row wrap"
        fxLayoutAlign="space-evenly stretch">

        <app-about-us-card 
            *ngFor="let lawyer of lawyersList;"
            [name]="lawyer.name"
            [expertises]="lawyer.expertises"
            [image]="lawyer.image">
        </app-about-us-card>
    </div>
</div>