<div
    fxLayout="column wrap"
    fxLayoutAlign="center stretch"
    class="abour-us-container">

    <div
        fxFlex="40"
        fxLayout="column wrap"
        fxLayoutAlign="center center"
        class="about-us-title-container">

        <span
            fxFlex="40">
            <h1>
                SOBRE NÓS
            </h1>
        </span>

        <p
            fxFlex="40">
            Contamos com uma equipe altamente experiênte en diversos âmbitos do
            direito.<br>
            Prestamos acessoria em todo o Brasil, Lisboa, Porto e Buenos Aires.
        </p>

    </div>

    <div
        fxFlex
        fxLayout="row"
        fxLayoutAlign="space-evenly stretch"
        fxLayoutGap="16px"
        style="padding: 2%;">

        <app-about-us-card
            *ngFor="let lawyer of lawyersList;"
            [name]="lawyer.name"
            [expertises]="lawyer.expertises"
            [image]="lawyer.image">
        </app-about-us-card>
    </div>
</div>