<div
    fxLayout="column wrap"
    fxLayoutAlign="center stretch"
    class="abour-us-container">

    <div
        fxFlex="40"
        fxLayout="column wrap"
        fxLayoutAlign="center center"
        class="about-us-title-container"
        [ngStyle.gt-xs]="{'padding': '4% 6%'}">

        <h1
            fxFlex="40"
            [ngStyle.gt-xs]="{'font-size': '4.0vw'}">
            SOBRE NÓS
        </h1>

        <p
            fxFlex="40">
            Contamos com uma equipe altamente experiênte en diversos âmbitos do
            direito.
            Prestamos acessoria em todo o Brasil, Lisboa, Porto e Buenos Aires.
        </p>

    </div>

    <div
        fxFlex
        fxLayout="row"
        fxLayoutAlign="space-evenly stretch"
        fxLayoutGap="16px"
        style="padding: 2%;">

        <app-about-us-card
            *ngFor="let lawyer of lawyersList;"
            [name]="lawyer.name"
            [expertises]="lawyer.expertises"
            [image]="lawyer.image">
        </app-about-us-card>
    </div>
</div>