<div
  fxLayout="column"
  fxLayoutAlign="center stretch"
  fxFill>

  <mat-card
    class="picture-container"
    fxFlex="500px"
    fxLayout="column wrap"
    fxLayoutAlign="center stretch">

    <app-uplaod-image
      fxFill
      #uploadImage>
    </app-uplaod-image>

  </mat-card>

  <div 
    fxFlex="60"
    fxLayout="column wrap"
    fxLayoutAlign="start stretch"
    fxFlexAlign="stretch">

    <div 
      fxLayout="row"
      fxFlexAlign="stretch"
      fxLayoutAlign="start center"
      fxLayoutGap="16px">

      <h1>{{article.articleTitle}}</h1>
      <h4 style="font-weight: 500; color: #212322; opacity: 0.7">{{article.lawyerFirstName}} {{article.lawyerLastName}} • {{article.articleDate | date : 'mediumDate'}}</h4>
    </div>

    <p
      fxFill
      [innerHtml]="article.articleDescription">
    </p>
  </div>
</div>